<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>編集 - メロンブックスランキング</title>
</head>
<body>
    <h1>書籍編集</h1>
    <form action="/melonbooks/edit/<%= item.id %>" method="POST">
        <label for="rank">ランク:</label><br>
        <input type="number" name="rank" value="<%= item.rank %>" required><br><br>
        
        <label for="bookName">書籍名:</label><br>
        <input type="text" name="bookName" value="<%= item.bookName %>" required><br><br>
        
        <label for="author">著者:</label><br>
        <input type="text" name="author" value="<%= item.author %>" required><br><br>
        
        <label for="circle">サークル:</label><br>
        <input type="text" name="circle" value="<%= item.circle %>" required><br><br>
        
        <label for="genre">ジャンル:</label><br>
        <input type="text" name="genre" value="<%= item.genre %>" required><br><br>
        
        <label for="price">価格:</label><br>
        <input type="number" name="price" value="<%= item.price %>" required><br><br>
        
        <label for="link">リンク:</label><br>
        <input type="url" name="link" value="<%= item.link %>" required><br><br>
        
        <input type="submit" value="更新">
    </form>
    <p><a href="/melonbooks">ランキング一覧に戻る</a></p>
</body>
</html>