<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.spotName %>の詳細</title>
</head>
<body>
    <h1><%= item.spotName %>の詳細</h1>
    <table border="1">
        <tr>
            <th>項目</th>
            <th>データ</th>
        </tr>
        <tr>
            <td>ランク</td>
            <td><%= item.rank %>位</td>
        </tr>
        <tr>
            <td>観光地名</td>
            <td><%= item.spotName %></td>
        </tr>
        <tr>
            <td>都道府県</td>
            <td><%= item.prefecture %></td>
        </tr>
        <tr>
            <td>カテゴリ</td>
            <td><%= item.category %></td>
        </tr>
        <tr>
            <td>年間訪問者数</td>
            <td><%= item.visitorsCount %>万人</td>
        </tr>
    </table>
    <p><a href="/">ランキング一覧に戻る</a></p>
</body>
</html>